# Base URL of the application
# Em produção, use o domínio real (ex: https://paroquia.vercel.app)
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# NextAuth Secret (Gere um com `openssl rand -base64 32`)
AUTH_SECRET=

# Database Connection (URL do seu banco Postgres em produção)
DATABASE_URL=